* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  /* width: 100vw; */
}

/* wrappper css */
.wrapper {
  width: 80vw;
  /* min-width: */
  margin: 0 auto;
}

.header {
  position: relative;
  height: 210px;
  /* width: 100vw; */
  display: grid;
  grid-template-rows: auto auto auto;
}
.topbar-main {
  position: relative;
  height: 40px;
  display: grid;
  align-items: center;
  /* height: 6vh; */
  /* background-color: black; */
  box-shadow: 0 4px 2px -4px gray;
}
.topbar {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
}

.branch {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  font-size: 12px;
}
.branchname {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}
.branchname > p {
  padding-right: 9px;
  /* width: 100px; */
}
.branchname > svg {
  color: green;
}
.branchinfo {
  display: grid;
  grid-template-columns: auto auto auto;
  /* justify-content: start; */
}
.branchopening {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}
.branchopening > svg {
  margin-right: 5px;
  color: green;
}
.branchcontact {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}
.branchcontact > svg {
  margin-right: 5px;
  color: green;
}
.branch-extra {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  font-size: 12px;
}
.branch-extra > svg {
  margin-right: 7px;
  color: green;
}
.nav-main {
  height: 130px;
}
.nav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}
.cross {
  display: none;
  height: 30px;
  width: 30px;
}
.open {
  display: block;
}
/* .navlist {

} */

.logo {
  position: relative;
  height: 140px;
  width: 40vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  column-gap: 10px;
  row-gap: 10px;

  align-items: center;
}

.logo img {
  height: 110px;
  width: 110px;
  /* min-height: 70px; */
  /* min-width: 70px; */

  /* max-height: 146px;
  max-width: 146px; */
  /* height: ; */
  /* min-width: 70px;
	min- */
}
a {
  text-decoration: none;
  color: black;
}

.logo a {
  /* width: 20vw; */
  /* font-size: max(25px); */
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 35px;
  text-decoration: none;
  color: black;
}
.navlist {
  width: 40vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  justify-content: space-around;
}
.navlist > a:hover {
  padding: 5px 0;

  border-bottom: 3px solid green;
  /* padding: 3px 0; */
}
.nav-btn {
  display: none;
}
.marquee-main {
  position: relative;
  height: 40px;
  background-color: green;
  display: grid;
  align-items: center;
}
.marquee {
  color: white;
  display: grid;
  align-items: center;
}

.content {
  /* width: 100vw; */
  position: relative;
}
.slider {
  /* width: 100vw; */
}
.slider-content {
  position: relative;
background: linear-gradient(180deg, rgba(0,0,0,1) 70%, rgba(120,120,120,1) 100%); 
  background-color: black;
  /* background-color: aqua; */
  /* width: 100vw; */
  height: 500px;
}
.slider-content img {
  width: 100%;
  height: 500px;
  opacity: 0.3;

  object-fit: cover;
  object-position: center;
}
.slider-content1 {
  color: aliceblue;
  position: absolute;
  top: 130px;
  width: 50%;

  /* left: 0; */
}
.slider-content1 > h1 {
  font-size: 70px;
}
.slider-content1 > p {
  padding-bottom: 30px;
}
.learnmore {
  cursor: pointer;
  padding: 10px 8px;
  border: 1px solid aliceblue;
  width: 110px;
}
.learnmore:hover {
  background-color: aliceblue;
  color: black;
}

.home-about {
  padding-top: 80px ;
  padding-bottom: 80px;

  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
}
.home-about-image {
  width: 40vw;
}
.home-about-image img {
  width: 40vw;
  object-fit: cover;
  object-position: center;
}
.home-about-content {
}
.home-about-header {
  /* padd */
  padding: 40px 0;
}
.home-about-subcontent {
}
.home-about-header h1 {
  font-size: 25px;

  font-weight: 500;
}
.home-about-subcontent p {
  padding-bottom: 20px;
}
.home-about-subcontent .learnmore,.whyus .learnmore {
  border-color: none;
  color: white;
  background-color: green;
}
.home-about-features-grid {
  display: grid;
  grid-template-columns: repeat(3,auto);
  margin: 0 auto;
  justify-items: center;
  column-gap: 10px;
  row-gap: 10px;
}
.home-about-features-subgrid {
width: 400px;
height: 200px;
  background-color: royalblue;
}
.whyus,
.home-goal,
.home-vision {
  padding: 20px 0;
}
.whyus h1,
.home-goal h1,
.home-vision h1 {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
}
.whyus {
  padding-top: 20px;
  display: grid;
}
.whyus > .learnmore {
  justify-self: end;
  margin-top: 40px;

  margin-right: 40px;
}
/* .whyus > p, */
.home-goal > p,
.home-vision > p {
  padding-bottom: 30px;
}
svg {
  color: green;
}
.whyus-sub {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, auto);
  row-gap: 20px;
  column-gap: 20px;
}
.whyus-sub-grid {
  margin-bottom: 15px;
  width: 350px;
  height: 400px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  /* align-items: center; */
  justify-items: center;
  padding: 20px;
border: 1px solid rgba(120,120,120,.3);
border-radius: 5px;
}
.whyus-sub-grid > img {
  object-fit: cover;
  object-position: center;
  height: 180px;
  width: 180px;
  border-radius: 150px;
}
.whyus-sub-grid > p {
text-align: center;
}
.whyus-footer {
  display: grid;
  height: 150px;
  grid-template-columns: auto auto;
  align-items: center;
  padding-top: 30px;
}

.whyus-footer .learnmore {
  justify-self: end;
  /* background-color: ; */
}
.grid-logo {
  margin-right: 20px;
  padding: 5px;
  /* color: green; */
  border: 2px solid green;
  border-radius: 2px;

}
.grid-content {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-items: center;
}
.grid-content > h4 {
  text-transform: uppercase;
}
.grid-content > p{
 font-size: 14px;
}
.home-goal {
  display: grid;

}
.technicalstuff {
  display: grid;
  grid-template-columns: auto auto;
}
.emicalculator {
  width: 40vw;
}
.dateinfo {
  width: 40vw;
}

.branchh {
  min-height: 80vh;
}

.branchlistt {
  height: 80vh;
}
#mapid {
  height: 70vh;
  width: 60vw;
}
.listt {
  /* background-color: aqua; */

  height: 70vh;
  width: 20vw;
  display: grid;
  justify-content: start;
  padding-left: 40px;
  padding-top: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.branchhmap {
  display: grid;
  box-shadow: 3px 5px 9px #888888;

  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}

.listt > ul {
  /* margin: 0 auto; */
  list-style-type: none;
}
.listt > ul > li {
  margin: 0 auto;
}
.namee {
  padding-bottom: 6px;
}
.locationn {
  padding-bottom: 6px;
}
.numberr {
  padding-bottom: 20px;
}




@media only screen and (min-width: 1600px) {
  .wrapper {
    width: 60vw;
  }
  .logo,
  .navlist {
    width: 30vw;
  }
  .whyus-sub-grid {
    width: 19vw;
  }
  .emicalculator {
    width: 30vw;
  }
  .dateinfo {
    width: 30vw;
  }
}
@media only screen and (max-width: 1357px) {
  .whyus-sub {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;
  }
  .grid-logo {
    padding-right: 20px;
    /* color: green; */
  }
}
@media only screen and (max-width: 988px) {
  .whyus-sub {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 5px;
  }
  .grid-logo {
    padding-right: 20px;
    /* color: green; */
  }
}
@media only screen and (max-width: 600px) {
  .show {
    display: grid;
  }
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }
  .topbar-main {
    display: none;
  }
  .header {
    height: 140px;
    grid-template-rows: auto auto;
  }
  .logo {
    height: 100px;
    width: 75vw;
    grid-area: logo;
  }
  .logo img {
    height: 70px;
    width: 70px;
  }
  .logo a {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
  }
  .nav-btn {
    display: none;
    grid-area: menubtn;
  }
  .nav-main {
    height: 100px;
  }
  .nav {
    display: grid;
    grid-template-areas:
      "logo logo logo menubtn"
      "navlist navlist navlist navlist";
    /* grid-auto-columns: auto auto;
    grid-auto-columns: auto;
    grid-auto-rows: auto; */
    /* grid-template-rows: 1fr; */
  }

  .navlist {
    width: inherit;
    grid-area: navlist;
    /* width: 90vw; */
    display: none;
    border-top: 2px solid rgba(193, 193, 193, 0.5);
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    align-items: center;

    justify-content: center;
  }
  .navlist a {
    padding: 5px 0;
    text-align: center;
  }

  .nav-btn {
    display: block;
    justify-self: end;
  }
  .marquee {
    height: 40px;
  }
  .slider-content {
    height: 330px;
  }
  .slider-content img {
    width: 100%;
    height: 330px;
    /* opacity: 0.7; */
  }
  .slider-content1 {
    color: aliceblue;
    position: absolute;
    top: 80px;
    width: 80%;

    /* left: 0; */
  }
  .slider-content1 > h1 {
    font-size: 40px;
  }
  .slider-content1 > p {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .learnmore {
    cursor: pointer;
    padding: 8px 0;
    border: 1px solid aliceblue;
    width: 90px;
    font-size: 12px;
    text-align: center;
  }
  .home-about {
    padding: 15px 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    /* column-gap: 30px; */
  }
  .home-about-image img {
    width: 90vw;
    object-fit: cover;
    object-position: center;
  }
  .branchhmap {

  
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    
  }
  .listt {
    height: 50vh;
    width: 90vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #mapid {
    width: 90vw;
    margin: 0 auto;
  }
}
